<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome <span th:utext="${admin.username}"></span></h1>
    <ul>
        <li><a th:href="@{/list/box}">Box</a></li>
        <li><a th:href="@{/list/admin}">Users</a></li>
        <li><a th:href="@{/list/sub}">Subscription</a></li>
        <li><a th:href="@{/list/resub}">Re-Subscription</a></li>
    </ul>
</body>
</html>